.flows.json.backup
[{"id":"4d5b0bf0.720984","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cd3646be.2d67e8","type":"function","z":"4d5b0bf0.720984","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["adafce5e.804d4"]]},{"id":"4f8f3723.f8b6c8","type":"inject","z":"4d5b0bf0.720984","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["cd3646be.2d67e8"]]},{"id":"adafce5e.804d4","type":"switch","z":"4d5b0bf0.720984","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":180,"wires":[["28f2fd96.7bf8a2"]]},{"id":"28f2fd96.7bf8a2","type":"debug","z":"4d5b0bf0.720984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":180,"wires":[]},{"id":"8349fc7e.48fe4","type":"status","z":"4d5b0bf0.720984","name":"","scope":null,"x":500,"y":320,"wires":[["28f2fd96.7bf8a2"]]}]